* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    background-color: rgb(241 243 246);
}

.container2 {
    margin: 10px;
}

.header {
    width: 100%;
    height: 56px;
    background-color: rgb(40 116 240);
    position: fixed;
    z-index: 1;
}

.blank {
    width: 100%;
    height: 56px;
    background-color: rgb(40 116 240);
}

.navbar {
    width: 1083px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 137px;
    height: 48px;
    padding: 4px;
    text-align: right;
    color: white;
    font-style: italic;
}

.logo h1 {
    font-size: 20px;
}

.logo p {
    font-size: 11px;
}

.logo span {
    color: yellow;
}

.logo img {
    width: 10px;
    height: 10px;
}

.searchbox input {
    width: 359px;
    height: 38px;
    padding: 0 17px;
    margin-left: 10px;
    border: none;
    outline: none;
}

.searchbox i {
    background: rgb(255 255 255);
    color: rgb(40 116 240);
    font-size: 20px;
    padding: 6px;
    height: 25.6px;
    width: 30px;
    text-align: center;
    margin-left: -5px;
    margin-top: 3px;
    position: relative;
    top: -0.8px;
}

.loginbtn button {
    width: 122px;
    height: 31px;
    padding: 5px 40px;
    border: none;
    background: white;
    color: rgb(40 116 240);
    font-size: 16px;
    font-weight: 500;
    border-radius: 2px;
    margin: 0 13px;
}

.navlist {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 56px;
    width: 340px;
    list-style: none;
    color: white;
    cursor: pointer;
    position: relative;
    font-size: 17px;
}

.submenu {
    text-align: center;
    transform: scale(0, 0);
    position: absolute;
    width: 200px;
    top: 100%;
    color: black;
    left: 30%;
    transition: .1s;
}

.submenu {
    background: white;
    color: black;
    box-shadow: 0px 1px 5px 0px black;
    text-align: left;
}

.subp {
    padding: 20px 0px;
    transition: 1s;
}

.submenu p {
    font-size: 13px;
    padding: 13px 15px 13px 20px;
    border-bottom: 1px solid rgb(175, 174, 174);
    font-weight: 100;
}

.subp:hover .icon {
    transform: rotate(180deg);
}

.subp:hover .submenu {
    transform: scale(1, 1);
}


.colom2 {
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background: rgb(255 255 255);
}

.col2item {
    margin: 0px 30px;
}

.col2item img {
    width: 64px;
    height: 64px;
    margin: 2px 0px;
}

.col2item p {
    font-size: 15px;
}

.banner img {
    width: 100%;
    height: 280px;
    position: relative;
}

.content {
    margin-top: 10px;
    background: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(241 243 246);
}

.content button {
    background: rgb(10, 92, 225);
    border: none;
    outline: none;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    font-weight: 700;
}

.c1 h6 {
    color: rgba(178, 178, 178);
}


.product {
    display: flex;
    padding: 3px 0;
    overflow: hidden;
    background: white;
}

.productdet {
    text-align: center;
    padding: 20px 20px;
    display: table;
}

.productdet img {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 150px;
    padding: 15px 0;
}

.productdet h4 {
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 500;
}

.productdet h5 {
    font-size: 16px;
    color: rgb(57, 148, 57);
    padding-bottom: 10px;
}

.productdet p {
    color: rgba(30, 27, 27, 0.656);
    font-size: 12px;
}

.sidebar {
    position: relative;
}

.sidebar i {
    position: absolute;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 30px;
    padding: 6px;
    height: 50px;
    width: 30px;
    text-align: center;
    padding-top: 35px;
    right: 0;
    top: -220px;
}

.footer {
    background: #172337;
    width: 100%;
}

.footercoll {
    padding: 30px 50px;
    color: white;
    border-bottom: 1px solid #878787;
    display: flex;
}

.footerrow {
    display: table;
    padding-right: 30px;
    margin-right: 20px;
}

.footerrow h3 {
    color: #878787;
    font-size: 12px;
    padding: 10px 0;
}

.footerrow li {
    line-height: 25px;
    font-size: 12px;
    color: rgb(216, 214, 214);
}


.footerright {
    width: 540px;
    margin-left: 120PX;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    border-left: 1px solid #878787;
}

.fotterrightcll1 h3 {
    color: #878787;
    font-size: 12px;
    padding: 10px 0;
}

.fotterrightcll1 li {
    line-height: 20px;
    font-size: 12px;
    color: rgb(216, 214, 214);
}

.fotterrightcll1 span {
    color: rgb(121, 149, 250);
}

.footercoll2 {
    color: rgb(216, 214, 214);
    display: flex;
}

.footercoll2 p {
    padding: 25px 34px;
    font-size: 15px;
}


@media(max-width:1100px) {
    body {
        display: none;
    }
}


.owl-nav .owl-prev span {
    color: rgb(0, 0, 0);
    font-size: 30px;
    background: rgb(242, 239, 239);
    border-radius: 5px;
    padding: 10px;
}

.owl-prev {
    position: absolute;
    left: -5px;
    top: 40%;
}

.owl-nav .owl-next span {
    color: rgb(0, 0, 0);
    font-size: 30px;
    background: rgb(242, 239, 239);
    border-radius: 5px;
    padding: 10px;
}

.owl-next {
    position: absolute;
    right: -5px;
    top: 40%;
}